/* Top Company Header & Side Menu*/
:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container, .main-container * {
  box-sizing: border-box;
  width: 100%
}

input, select, textarea, button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1512px;
  height: 982px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
}

.top-bar {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: relative;
  background-color:  #e3ebff;
  width: 1512px;
  height: 103px;
  margin: 0 0 0 0;
}

.frame {
  flex-shrink: 0;
  position: relative;
  width: 1460.894px;
  height: 103px;
  z-index: 2;
  overflow: hidden;
}

.main-container2 {
  position: absolute;
  left: 4%;
  width: 213.245px;
  height: 103px;
  margin: 0 auto;
}

.company-name-icon {
  position: relative;
  width: 213.245px;
  height: 103px;
  margin: 0 0 0 0;
  z-index: 3;
}

.we-cure-it {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 87.38%;
  top: 5.83%;
  left: 0;
  color: #1a1a1a;
  
  font-size: 31px;
  font-weight: 400;
  line-height: 90px;
  text-align: left;
  white-space: nowrap;
  z-index: 4;
}
.icon {
  position: absolute;
  width: 24.28%;
  height: 51.53%;
  top: 24.24%;
  left: 73.99%;
  background: url(../../assets/images/Logo.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 3;
}
.medical-cross {
  position: absolute;
  width: 27.75%;
  height: 58.89%;
  top: 20.56%;
  left: 72.25%;
  z-index: 5;
}
.group {
  position: relative;
  width: 51.776px;
  height: 53.074px;
  margin: 3.791px 0 0 3.698px;
  z-index: 6;
}
.vector-stroke {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../../assets/images/f06fa56b-c48b-4ade-84c7-766b9bee9419.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 7;
}
.frame-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  position: relative;
  width: 430px;
  height: 170px;
  margin: 352px 0 0 566px;
  z-index: 25;
}
.frame-2 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 162px;
  z-index: 26;
}
.specialty-available {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 162px;
  height: 21px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 27;
}
.frame-3 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 5px;
  position: relative;
  width: 195px;
  z-index: 28;
}
.select-specialty {
  flex-shrink: 0;
  position: relative;
  width: 195px;
  height: 149px;
  z-index: 29;
  overflow: hidden;
}
.group-4 {
  position: relative;
  width: 196px;
  height: 37px;
  margin: -1px 0 0 -1px;
  font-size: 0px;
  z-index: 30;
  overflow: visible auto;
}
.select-specialty-5 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 104px;
  height: 20px;
  margin: 9px 0 0 9px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 13px;
  font-weight: 500;
  line-height: 19.5px;
  text-align: center;
  white-space: nowrap;
  z-index: 32;
}
.rectangle {
  position: absolute;
  width: 196px;
  height: 37px;
  top: 0;
  left: 0;
  background: #d9d9d9;
  z-index: 31;
}
.group-6 {
  position: absolute;
  width: 8px;
  height: 90px;
  top: 36px;
  left: 187px;
  background: url(../../assets/images/c1cb3d74-667c-48a4-b11d-320b2d5e26c9.png)
    no-repeat center;
  background-size: cover;
  z-index: 33;
  border-radius: 20px;
}
.frame-7 {
  position: absolute;
  width: 184px;
  height: 105px;
  top: 40px;
  left: -1px;
  z-index: 34;
}
.group-8 {
  position: relative;
  width: 184px;
  height: 102px;
  margin: 0 0 0 0;
  z-index: 35;
}
.group-9 {
  position: absolute;
  width: 184px;
  height: 102px;
  top: 0;
  left: 0;
  font-size: 0px;
  z-index: 36;
}
.cardiology {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 184px;
  height: 12.783px;
  margin: 0 0 0 0;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 11px;
  font-weight: 500;
  line-height: 12.783px;
  text-align: center;
  white-space: nowrap;
  z-index: 37;
}
.pediatrics {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 184px;
  height: 12.783px;
  margin: 7.264px 0 0 0;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 11px;
  font-weight: 500;
  line-height: 12.783px;
  text-align: center;
  white-space: nowrap;
  z-index: 38;
}
.psychiatry {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 184px;
  height: 9.024px;
  margin: 7.265px 0 0 0;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 11px;
  font-weight: 500;
  line-height: 9.024px;
  text-align: center;
  white-space: nowrap;
  z-index: 39;
}
.internal-medicine {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 184px;
  height: 12.783px;
  margin: 7.265px 0 0 0;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 11px;
  font-weight: 500;
  line-height: 12.783px;
  text-align: center;
  white-space: nowrap;
  z-index: 40;
}
.obgyn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 184px;
  height: 25.567px;
  margin: 7.264px 0 0 0;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 11px;
  font-weight: 500;
  line-height: 16.5px;
  text-align: center;
  z-index: 41;
}
.frame-a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 24.14px;
  padding: 5px 0 5px 0;
  z-index: 42;
}
.button {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 24.14px;
  height: 78px;
  padding: 18px 0 18px 0;
  z-index: 43;
}
.button-b {
  flex-shrink: 0;
  position: relative;
  width: 24.14px;
  height: 28px;
  font-size: 0px;
  z-index: 44;
  border-radius: 10px;
}
.button-c {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 19px;
  height: 14px;
  margin: 6px 0 0 2.14px;
  color: #f5f5f5;
  font-family: Poppins, var(--default-font-family);
  font-size: 11px;
  font-weight: 250;
  line-height: 14px;
  text-align: center;
  white-space: nowrap;
  z-index: 46;
  -webkit-text-stroke: 1px #f5f5f5;
}
.rectangle-d {
  position: absolute;
  width: 24.14px;
  height: 28px;
  top: 0;
  left: 0;
  background-image: url('../../assets/images/selectBtn.png');
  background-color: #726ffe;
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
  z-index: 45;
  border-radius: 10px;
}
.button-e {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 24.14px;
  padding: 18px 0 18px 0;
  z-index: 47;
}
.button-f {
  flex-shrink: 0;
  position: relative;
  width: 24.14px;
  height: 28px;
  font-size: 0px;
  z-index: 48;
  border-radius: 10px;
}
.button-10 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 19px;
  height: 14px;
  margin: 6px 0 0 2.14px;
  color: #f5f5f5;
  font-family: Poppins, var(--default-font-family);
  font-size: 11px;
  font-weight: 250;
  line-height: 14px;
  text-align: center;
  white-space: nowrap;
  z-index: 50;
  -webkit-text-stroke: 1px #f5f5f5;
}
.rectangle-11 {
  position: absolute;
  width: 24.14px;
  height: 28px;
  top: 0;
  left: 0;
  background-image: url('../../assets/images/unselectBtn.png');
  background-color: #726ffe;
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
  z-index: 49;
  border-radius: 10px;
}
.selected-specialty {
  flex-shrink: 0;
  position: relative;
  width: 195px;
  height: 149px;
  z-index: 51;
}
.group-12 {
  position: relative;
  width: 196px;
  height: 37px;
  margin: -1px 0 0 -1px;
  font-size: 0px;
  z-index: 52;
  overflow: visible auto;
}
.selected-specialty-13 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 121px;
  height: 20px;
  margin: 9px 0 0 11.14px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 13px;
  font-weight: 500;
  line-height: 19.5px;
  text-align: center;
  white-space: nowrap;
  z-index: 54;
}
.rectangle-14 {
  position: absolute;
  width: 196px;
  height: 37px;
  top: 0;
  left: 0;
  background: #d9d9d9;
  z-index: 53;
}
.group-15 {
  position: absolute;
  width: 8px;
  height: 90px;
  top: 36px;
  left: 187px;
  background: url(../../assets/images/3aeddc17-edfa-4498-8aa5-f16f1227a6cb.png)
    no-repeat center;
  background-size: cover;
  z-index: 55;
  border-radius: 20px;
}
.frame-16 {
  position: absolute;
  width: 184px;
  height: 105px;
  top: 40px;
  left: -1px;
  z-index: 56;
}
.group-17 {
  position: relative;
  width: 184px;
  height: 32.832px;
  margin: 0 0 0 0;
  z-index: 57;
}
.group-18 {
  position: absolute;
  width: 184px;
  height: 32.832px;
  top: 0;
  left: 0;
  font-size: 0px;
  z-index: 58;
}
.cardiology-19 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 184px;
  height: 12.783px;
  margin: 0 0 0 0;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 11px;
  font-weight: 500;
  line-height: 12.783px;
  text-align: center;
  white-space: nowrap;
  z-index: 59;
}
.cardiology-19:hover {
  background-color: #ccc;
}
.cardiology-19:active {
  background-color: #999;
}
.cardiology-19.selected {
  background-color: #f0f0f0; /* 选中时的背景颜色，您可以根据需要修改 */
  color: #333333; /* 选中时的文字颜色，您可以根据需要修改 */
}

.cardiology:hover {
  background-color: #ccc;
}
.cardiology:active {
  background-color: #999;
}
.cardiology.selected {
  background-color: #f0f0f0; /* 选中时的背景颜色，您可以根据需要修改 */
  color: #333333; /* 选中时的文字颜色，您可以根据需要修改 */
}

.pediatrics-1a {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 184px;
  height: 12.783px;
  margin: 7.264px 0 0 0;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 11px;
  font-weight: 500;
  line-height: 12.783px;
  text-align: center;
  white-space: nowrap;
  z-index: 60;
}
.edit-doctors-information {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  width: 347px;
  height: 73px;
  top: 171px;
  left: 560px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 32px;
  font-weight: 600;
  line-height: 26px;
  text-align: left;
  z-index: 78;
}
.add-manage-doctor {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 171.973px;
  height: 73px;
  top: 233px;
  left: 100.027px;
  color: #1b1b1b;
  font-family: Poppins, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  z-index: 10;
}
.edit {
  position: absolute;
  width: 45.861px;
  height: 34.767px;
  top: 244px;
  left: 38px;
  background: url(../../assets/images/214d39a7-8c60-4b84-b79f-644608cf00bd.png)
    no-repeat center;
  background-size: cover;
  z-index: 11;
  overflow: hidden;
}
.frame-1b {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  position: absolute;
  width: 217.4px;
  height: 74.529px;
  top: 273.772px;
  left: 764px;
  z-index: 67;
}
.frame-1c {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 75px;
  z-index: 68;
}
.last-name {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 21px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 69;
}
.frame-1d {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 201px;
  height: 32px;
  padding: 10px 0 10px 10px;
  border: 1px solid #d9d9d9;
  z-index: 70;
  overflow: hidden;
  border-radius: 10px;
}
.frame-1e {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 32px;
  z-index: 71;
}
.moyer {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 15px;
  color: #d9d9d9;
  font-family: Poppins, var(--default-font-family);
  font-size: 10px;
  font-weight: 500;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  z-index: 72;
}
.frame-1f {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  position: absolute;
  width: 203.546px;
  height: 74.529px;
  top: 273.921px;
  left: 565.328px;
  z-index: 61;
}
.frame-20 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 76px;
  z-index: 62;
}
.first-name {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 21px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 63;
}
.frame-21 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 183px;
  height: 32px;
  padding: 10px 0 10px 10px;
  border: 1px solid #d9d9d9;
  z-index: 64;
  overflow: hidden;
  border-radius: 10px;
}
.frame-22 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 22px;
  z-index: 65;
}
.fern {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 15px;
  color: #d9d9d9;
  font-family: Poppins, var(--default-font-family);
  font-size: 10px;
  font-weight: 500;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  z-index: 66;
}
.add-manage-facility {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 171.973px;
  height: 73px;
  top: 306px;
  left: 100.027px;
  color: #1b1b1b;
  font-family: Poppins, var(--default-font-family);
  font-size: 24px;
  font-weight: 275;
  line-height: 36px;
  text-align: left;
  z-index: 14;
}
.edit-23 {
  position: absolute;
  width: 40.865px;
  height: 36.783px;
  top: 307.058px;
  left: 43px;
  background: url(../../assets/images/3924387f-aa34-445a-933c-9369b8942139.png)
    no-repeat center;
  background-size: cover;
  z-index: 15;
  overflow: hidden;
}
.frame-24 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  position: absolute;
  width: 430.536px;
  height: 74.529px;
  top: 356px;
  left: 566px;
  z-index: 17;
}
.frame-25 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 100px;
  z-index: 18;
}
.email-address {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 21px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 19;
}
.frame-26 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 404px;
  height: 32px;
  padding: 10px 0 10px 10px;
  border: 1px solid #d9d9d9;
  z-index: 20;
  overflow: hidden;
  border-radius: 10px;
}
.frame-27 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 120px;
  z-index: 21;
}
.fern-moyer-gmail-com {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 15px;
  color: #d9d9d9;
  font-family: Poppins, var(--default-font-family);
  font-size: 10px;
  font-weight: 500;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  z-index: 22;
}
.frame-28 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  position: absolute;
  width: 404px;
  height: 32px;
  top: 686px;
  left: 564px;
  cursor: pointer;
  background: transparent;
  border: none;
  z-index: 74;
}
.frame-29 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 404px;
  height: 32px;
  padding: 10px 0 10px 10px;
  background: #3a5b22;
  border: 1px solid #3a5b22;
  z-index: 75;
  overflow: hidden;
  border-radius: 10px;
}
.frame-2a {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 31px;
  height: 15px;
  padding: 0;
  z-index: 76;
}
.save-changes {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 97px;
  height: 20px;
  top: 690px;
  left: 727px;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 13px;
  font-weight: 700;
  line-height: 19.5px;
  text-align: center;
  white-space: nowrap;
  z-index: 77;
}
